@model IEnumerable<MagicOFBulgarian.Models.Product>

@{
	ViewData["Title"] = "Index";
}


<p>
	<a asp-action="Create">Създай </a>
</p>
<form id="searchForm" method="get">
	<p>
		<label for="nameSearch">Search by Name: </label>
		<input type="text" id="nameSearch" name="nameSearch" value="@ViewData["NameSearch"]" />
		<button type="submit">Search</button>
		<button type="button" onclick="clearSearch('name')">Clear</button>
	</p>
</form>
<p>
	<a asp-action="SearchByPrice">Търсене по цена</a>
	<br />
	<a asp-action="SearchByCategory">Търсене по категории</a>
</p>

<div class="row">
	@foreach (var item in Model)
	{
		<div class="col-md-4 col-xs-6 border-primary mb-3">
			<div class="card mb-3" style="max-width: 540px;">
				<div class="row g-0">
					<div class="col-md-12">
						<div class="card-header text-white bg-info">
							<p class="card-text">
								<h5 class="card-title">
									@item.Title

								</h5>
							</p>
						</div>
					</div>
					<div class="col-md-6">
						<img src="~/images/@item.ImageUrl" width="100%" asp-append-version="true" alt="@item.Title">
					</div>

					<div class="col-md-6">
						<div class="card-body">
							
							<p class="card-text">@item.Category.CategoryName</p>
							<p class="card-text">@item.FolkloreArea.AreaName</p>
							<p class="card-text">@item.GenderClothes.GenderName</p>
							<p class="card-text">@string.Format("{0:C2}", item.Price)</p>
							<p class="card-text">@string.Format("{0:C2}", item.Price50)</p>
						</div>
					</div>
					<div class="col-md-12">
						<div class="text-white">
							<a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id ">
								<i class="bi bi-eye"></i> Детайли
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>

@* <form id="searchForm" method="get">
    <p>
        <label for="nameSearch">Търсене по име: </label>
        <input type="text" id="nameSearch" name="nameSearch" value="@ViewData["NameSearch"]" />
        <button type="submit">Търси</button>
        <a asp-action=" Index">Изчисти</a>
    </p>
</form>
<p>
<a asp-action="SearchByPrice">Търсене по цена</a>
<br />
<a asp-action="SearchByCategory">Търсене по категории</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>

                <h4 class="display">Описание</h4>
            </th>
            <th>
                <h4 class="display">Продукт</h4>
            </th>
            <th>
                <h4 class="display">Цена</h4>
            </th>
            <th>
                <h4 class="display">Цена 50+</h4>
            </th>
            <th>
                <h4 class="display">Снимка</h4>
            </th>
            <th>
                <h4 class="display">Категория</h4>
            </th>
            <th>
                <h4 class="display">Фолклорна област</h4>
            </th>
            <th>
                <h4 class="display">Пол</h4>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @string.Format("{0:C2}", item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price50)
                </td>
                <td>
                    <img src="~/images/@item.ImageUrl" width="100%" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FolkloreArea.AreaName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GenderClothes.GenderName)
                </td>
                <td class="align-middle d-flex flex-column gap-1">
                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Редактирай </a>
                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i>Детайли </a>
                    <a class="btn btn-danger text-white btn-sm" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Изтрий </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function clearSearch(searchType) {
        if (searchType === 'name') {
            document.getElementById("nameSearch").value = "";
        }
        // Add similar logic for other search types if needed
    }
</script> *@